<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balanta analitica</title>
    <%- style %>
</head>
<body>
    <div class="page">

        <div class="container">
            <div class="antet-stinga">
                <div>ROMANIA</div>
                <div>Ministerul Apararii Nationale</div>
                <div><%= config.institutie%></div>
                
            </div>

            <div class="antet-dreapta">
                <div>NECLASIFICAT</div>
                <div>Exemplar nr. _</div>

            </div>

            <div class="titlu">
                <h4>Balanta analitica de gestiune</h4>
            </div>



            <div class="subsol-stinga">
                <div>INTOCMIT</div>
            </div>
            <div class="subsol-dreapta">
                <div>VERIFICAT</div>
            </div>

        </div>
  

    </div>
</body>
</html>