<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balanta analitica</title>
    <%- style %>
</head>
<body>
    <div class="page">

        <div class="container">
            <div class="antet-stinga">
                <div>ROMANIA</div>
                <div>Ministerul Apararii Nationale</div>
                <div><%= config.institutie%></div>
                
            </div>

            <div class="antet-dreapta">
                <div>NECLASIFICAT</div>
                <div>Exemplar nr. _</div>

            </div>

            <div class="titlu">
                <h4>Balanta analitica de gestiune pentru perioada 01/04/2020 - 30/04/2020</h4>
            </div>

            <div class="principal-stinga">
               
                    <span>INFORMATICA / MATERIALE / Toate categoriile / Toate locurile / Toate starile</span>
                    <table class="minimalistBlack">
                        <thead>
                            <tr> 
                                <th class="a-centru" rowspan="2" style="width:20px">Nr. crt.</th>
                                <th class="a-centru" rowspan="2" style="width:75px">ID</th>
                                <th class="a-centru" rowspan="2" style="width:175px">Denumire</th>
                                <th class="a-centru" rowspan="2" style="width:40px">U.M.</th>
                                <th class="a-centru"  colspan="4">CANTITATIV</th> 
                                <th class="a-centru" colspan="4">VALORIC</th>
                             </tr>


                            <tr>

                                <th class="a-centru" style="width:70px">Stoc initial</th>
                                <th class="a-centru" style="width:70px">Intrari</th>
                                <th class="a-centru" style="width:90px">Iesiri</th>
                                <th class="a-centru" style="width:70px">Stoc final</th>
                                <th class="a-centru" style="width:70px">Sold initial</th>
                                <th class="a-centru" style="width:90px">Debit</th>
                                <th class="a-centru" style="width:90px">Credit</th>
                                <th class="a-centru" style="width:70px">Sold final</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (var i =1; i <=100;  i++ ) { %>
                            <tr>
                                <td  style="width:20px"><%= i %> </td>
                                <td  style="width:75px">110147</td>
                                <td   style="width:175px">Placa de baza ASUS X4321</td>
                                <td class="a-centru"  style="width:40px">buc</td>
                                <td class="a-dreapta" style="width:70px">10</td>
                                <td class="a-dreapta" style="width:70px">4</td>
                                <td class="a-dreapta" style="width:90px">1</td>
                                <td class="a-dreapta" style="width:70px">13</td>
                                <td class="a-dreapta" style="width:70px">12333</td>
                                <td class="a-dreapta" style="width:90px">78547</td>
                                <td class="a-dreapta" style="width:90px">11144</td>
                                <td class="a-dreapta" style="width:70px">54545</td>

                            </tr>
                            <% } %>
                            <tr>
                                <td class="a-dreapta" colspan="8" style="font-weight: bold;">TOTAL:</td>
    
                                <td class="a-dreapta" style="width:70px;font-weight: bold;">45454</td>
                                <td class="a-dreapta" style="width:90px;font-weight: bold;">45454</td>
                                <td class="a-dreapta" style="width:90px;font-weight: bold;">77552</td>
                                <td class="a-dreapta" style="width:70px;font-weight: bold;">56666</td>
                            </tr>
                        </tbody>
                    </table>

            </div>    

            <div class="subsol-stinga">
                <div>INTOCMIT</div>
            </div>
            <div class="subsol-dreapta">
                <div>VERIFICAT</div>
            </div>

        </div>
  

    </div>
</body>
</html>